#include("/templates/css.vm")
<h1>Examples</h1>
<ul>
    <li>
        <a href="/facebook">Protected url by Facebook: /facebook</a> (use a real account)
    </li>
    <li>
        <a href="/facebook/notprotected">Not protected page: /facebook/notprotected</a> (no authentication required)
    </li>
    <li>
        <a href="/facebookadmin">Protected url by Facebook with ROLE_ADMIN: /facebookadmin</a> (use a real account)
    </li>
    <li>
        <a href="/facebookcustom">Protected url by Facebook with custom authorizer: /facebookcustom</a>
        (= must be a <em>CommonProfile</em> where the username starts with "jle"), login with form or basic authentication before with jle* username)
    </li>
    <li>
        <a href="/twitter">Protected url by Twitter: /twitter</a> <strong>or</strong> <a href="/twitter?client_name=FacebookClient">by Facebook: /twitter?client_name=FacebookClient</a> (use a real
        account)
    </li>
    <li>
        <a href="/form">Protected url by form authentication: /form</a> (u: testUsername, p: testPassword)
    </li>
    <li>
        <a href="/basicauth">Protected url by indirect basic auth: /basicauth</a> (u: testUsername, p: testPassword)
    </li>
    <li>
        <a href="/cas">Protected url by CAS: /cas</a> (u: testUsername, p: testPassword)
    </li>
    <li>
        <a href="/saml2">Protected url by SAML2: /saml2</a> (use testpac4j at gmail.com / Pac4jtest)
    </li>
    <li>
        <a href="/oidc">Protected url by OpenID Connect: /oidc</a> (use a real account)
    </li>
    <li>
        <a href="protected">Protected url: /protected</a> (won't start any login process)
    </li>
    <li>
        <a href="/jwt">Generate a JWT token</a> (after being authenticated)
    </li>
    <li>
        <a href="/dba">Protected url by DirectBasicAuthClient: /dba</a> (POST the <em>Authorization</em> header with value: <em>Basic amxlbGV1OmpsZWxldQ==</em>) then by
        <a href="/dba">ParameterClient: /dba</a> (with request parameter: token=<em>jwt_generated_token</em>)
    </li>
    <li>
        <a href="/rest-jwt">Protected url by ParameterClient: /rest-jwt</a> (with request parameter: token=<em>jwt_generated_token</em>)
    </li>
    <li>
        <a href="force-login?client_name=FacebookClient">Force Facebook login</a> (even if already authenticated)
    </li>
</ul>

<a class="button" href="/logout?url=/?forcepostlogouturl">
    Local logout
</a>

<a class="button" href="/central-logout?url=http://localhost:8080/?forcepostlogouturlafteridp">
    Central logout
</a>

<div class="profiles">$profiles</div>
